<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %> 
    <title>Document</title>
</head>
<body class="home-card-body">
    <% include ../partials/nav %> 

    <div id="card-collection">
  
    </div> 
    
    Card Structure -->
     <div class="card-container" style="background-image: url(<%=cards[0].image%>);">
      <div class="card-main">
        <div class="card-image" style="background-image: url(<%=cards[0].image%>);" ><h1 style="color: white;"><%= cards[0].name %> </h1> </div>
        <div class="card-info">
           <h2 class="card-title">Stats </h2>
          <p class="card-text line-clamp">Intelligence:<%= cards[0].powerStats.intelligence %> </p>
          <p class="card-text line-clamp">Strength:<%= cards[0].powerStats.strength %> </p>
          <p class="card-text line-clamp">Speed:<%= cards[0].powerStats.speed %> </p>
          <p class="card-text line-clamp">Durability:<%= cards[0].powerStats.durability %> </p>
          <p class="card-text line-clamp">Power:<%= cards[0].powerStats.power %> </p>
          <p class="card-text line-clamp">Combat:<%= cards[0].powerStats.combat%> </p>
         
        </div>
      </div>
      <div class="card-actions">
        <div class="card-buttons">
          <button class="btn btn-text">Read More</button>
        </div>
        <div class="card-icons">
          <button class="btn btn-icon far fa-heart fa-lg"></button>
        <button class="btn btn-icon fas fa-share-alt fa-lg"></button>
        </div>
        
      </div>
    </div> 
    Card Structure
  
  
    
    </div> 

    
</body>
</html>