<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %> 
    <title>Document</title>
</head>
<body class="home-card-body">
    <% include ../partials/nav %> 


    
   
   
     
      <div class="pack-list">
        <h1> Hall of Justice or League of Villains</h1>
        
        </div>
      <% if (cards) { %>
        <% for( let i = 0; i < cards.length; i++ ) { %>

          <hr> 
     
      <div id="card-collection">
        
      </div> 
      
      
      <div class="card-container" style="background-image: url(<%=cards[i].image%>);">
        <div class="card-main" >
          <div class="card-image" style="background-image: url(<%=cards[i].image%>);" ><h1 style="color: white;"><%= cards[i].name %> </h1> </div>
          <div class="card-info">
            <h2 class="card-title">Stats </h2>
            <p class="card-text line-clamp">Intelligence:<%= cards[i].powerStats.intelligence %> </p>
            <p class="card-text line-clamp">Strength:<%= cards[i].powerStats.strength %> </p>
            <p class="card-text line-clamp">Speed:<%= cards[i].powerStats.speed %> </p>
            <p class="card-text line-clamp">Durability:<%= cards[i].powerStats.durability %> </p>
            <p class="card-text line-clamp">Power:<%= cards[i].powerStats.power %> </p>
            <p class="card-text line-clamp">Combat:<%= cards[i].powerStats.combat%> </p>
            <p class="card-text line-clamp">Pack:<%= cards[i].pack%> </p>
            
            
          </div>
        </div>
        <div class="card-actions">
          <div class="card-buttons" style="border: yellow 1px solid; border-width: ;">
            <a style="color: hotpink;" href="/api/admin/pack/<%= cards[i].name %> ">More info</a>
          </div>
          <div class="card-icons">
            <button class="btn btn-icon far fa-heart fa-lg"></button>
            <button class="btn btn-icon fas fa-share-alt fa-lg"></button>
          </div>
          
        </div>
      </div> 

     
    <% } %>
  <% } %> 


  <div style="display: block;">
        <ul class="pagination text-center">
         <% for( let j = 1; j < pages; j++ ) { 
            if(j===1){%>
                <li class="my-pagination"><a href="/"><%= j %> </a></li>
            }<% } else { %>
                <li class="my-pagination"><a href="api/users/home/page/<%= j %>"><%= j %> </a></li>
            <% }%>
        <% } %>
            </ul>

    </div>
      
      
      
      
    </div> 

  <% if (cards.length === 0) { %>
    <p style="color: white;">Please click <a href="/api/admin/add-pack">Add a Pack</a> to begin your collection</p>
   
  <% } %>
   
    

  </body>
  
</html>

