<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View my Packs</title>
</head>
<body style="background-image: url(<%=cards[0].image%>);background-repeat: no-repeat; background-size:cover;">
    <% include ../partials/nav %> 

<div class="hero-details" style="width: fit-content;">
    <h1 style="font-weight: 500;color: hotpink;background-color: black; width: fit-content;"> <%= cards[0].name %> </h1>

    
    <ul>
        <li  style="color: white; ">Full Name : <%= cards[0].biography['full-name'] %> </li>
        <li style="color: white;">Known Aliases : <%= cards[0].biography.aliases %> </li>
        <li style="color: white;">Place Of Birth : <%= cards[0].biography['place-of-birth']%> </li>
        <li style="color: white;">Publisher : <%= cards[0].biography.publisher %> </li>
        <li style="color: white;">First Appearance : <%= cards[0].biography['first-appearance'] %> </li>
        <li style="color: white;">Known Aliases : <%= cards[0].biography.aliases %> </li>
        
    </ul>

    


</div>
     <% include ../partials/footer %> 
</body>
</html>
